
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thanh Pho</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">


    <h2>Show Thanh Pho</h2>
    <a href="/create" class="btn btn-success">Create</a>
    <br>
    <br>
    <br>
    <br>
    <table class="table">
        <thead>
        <th colspan="7">
            <h1 style="text-align: center">Manager Thanh Pho</h1>
        </th>
        <tr>
            <th>#</th>
            <th>Thanh Pho</th>
            <th>Quoc Gia</th>

            <th colspan="2">Actison</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tp, loop : ${list}">
            <td th:text="${loop.count}"></td>
            <td><a th:href="@{/view/{id}(id=${tp.id})}">
                <span th:text="${tp.name}"></span>
            </a>
            </td>
            <td th:text="${tp.quocGia.nameQG}"></td>
            <td><a th:href="@{/edit/{id}(id=${tp.id})}" class="btn btn-warning">Edit</a></td>
            <td><a th:href="@{/delete/{id}(id=${tp.id})}" class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
